{"openapi": "3.0.3", "info": {"title": "Карта School.Mos.ru (только чтение)", "version": "0.1.0", "description": "Неофициальная карта публичной веб-оболочки, лениво загружаемых UI-маршрутов\nи HTTP-ресурсов, обнаруженных на https://school.mos.ru/ 28.08.2026.\nЭто карта наблюдавшихся маршрутов, а не официальный контракт сервиса. Схемы\nответов намеренно обобщены: учётная запись не использовалась, а приватные\nданные не сохранялись. Методы, отличные от GET, добавлены только по анализу\nJavaScript: их вызовы не выполнялись. Примеры запросов содержат синтетические\n    заполнители и не предназначены для воспроизведения с данными пользователя.\n", "contact": {"name": "Неофициальная карта"}, "license": {"name": "CC0-1.0", "url": "https://creativecommons.org/publicdomain/zero/1.0/"}}, "servers": [{"url": "https://school.mos.ru", "description": "Рабочий веб-хост"}], "tags": [{"name": "UI", "description": "Маршруты страниц браузера, записанные в x-ui-routes"}, {"name": "Core/Auth", "description": "Основная оболочка, контекст пользователя, меню, SUDIR и общие ресурсы"}, {"name": "Passport", "description": "Ресурсы Passport и персональных данных"}, {"name": "Diary", "description": "Дневник, расписание, оценки, школа, питание и семейные ресурсы"}, {"name": "News", "description": "Каналы новостей, статьи, файлы и баннеры"}, {"name": "Contests", "description": "Справочные ресурсы конкурсов и экзаменов"}, {"name": "Help", "description": "Центр помощи и вспомогательные ресурсы AUPD"}, {"name": "Portfolio", "description": "Ресурсы портфолио и профориентации"}, {"name": "Shared", "description": "Общие ресурсы, используемые несколькими UI-модулями"}, {"name": "Langtutor", "description": "Языковой тренажёр; маршруты найдены в сохранённых JS-бандлах, изменяющие методы не вызывались"}], "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-read-only-audit": true, "x-audit-date": "2026-08-28", "x-audit-host": "https://school.mos.ru", "x-auth-state": "неаутентифицированный-изолированный-браузер", "x-no-personal-data-retained": true, "x-no-mutation-requests-sent": true, "x-example-policy": "Только синтетические заполнители; примеры запросов являются документацией и никогда не отправлялись.", "x-js-method-policy": "Методы, отличные от GET, перечислены только по данным бандлов для понимания и помечены x-not-invoked.", "x-data-provenance-policy": "Значения для гипотетической изменяющей операции могут браться только из уже\nзагруженного контекста в режиме только чтения, справочных ответов GET, параметров маршрута\nили явного ввода пользователя/UI. Карта не утверждает, что такую операцию\nбезопасно воспроизводить.\n", "x-data-source-map": {"identifier-values": [{"source-operation": "getFamilyProfile", "supplies": ["personId", "studentId", "контекст школы"]}, {"source-operation": "listUserChildren", "supplies": ["выбор ребёнка", "контекст человека"]}, {"source-operation": "getMenu", "supplies": ["roleId", "доступные разделы UI"]}, {"source-operation": "getNewsChannel", "supplies": ["channelId", "метаданные канала"]}, {"source-operation": "listNewsChannels", "supplies": ["доступные идентификаторы каналов"]}, {"source-operation": "listNewsFiles", "supplies": ["fileId", "метаданные вложений"]}, {"source-operation": "listHomeworks", "supplies": ["идентификатор задания", "контекст урока и предмета"]}, {"source-operation": "getShortSchedule", "supplies": ["контекст урока и даты"]}, {"source-operation": "getAttendance", "supplies": ["контекст существующей посещаемости"]}, {"source-operation": "listContestStages", "supplies": ["идентификаторы этапов"]}, {"source-operation": "getParticipantParallel", "supplies": ["контекст параллели участника"]}, {"source-operation": "getPassportAgentPerson", "supplies": ["контекст человека для агента"]}, {"source-operation": "getPersonData", "supplies": ["контекст редактируемых данных человека"]}, {"source-operation": "getFoodBalance", "supplies": ["контекст клиента питания"]}, {"source-operation": "getBuffetMenu", "supplies": ["идентификаторы блюд"]}, {"source-operation": "getComplexMenus", "supplies": ["идентификаторы комплексных блюд"]}, {"source-operation": "listSoftSkillPeriods", "supplies": ["идентификаторы периодов опроса"]}, {"source-operation": "getSurveyQuestionsAnswers", "supplies": ["идентификаторы вопросов и варианты ответов"]}, {"source-operation": "searchPaymentContracts", "supplies": ["идентификаторы договоров"]}, {"source-operation": "getPaymentContract", "supplies": ["контекст сведений о договоре"]}, {"source-operation": "listCertificateStatuses", "supplies": ["статусы справок и справочные значения"]}, {"source-operation": "getLangtutorUserContext", "supplies": ["userId", "роль", "класс", "дети"]}, {"source-operation": "getLangtutorRefSkillLevelList", "supplies": ["skillLevelId", "shortValue"]}, {"source-operation": "getLangtutorRefThemeList", "supplies": ["themeId", "значение темы"]}, {"source-operation": "getLangtutorRefTopicList", "supplies": ["topicId", "значение темы занятия"]}, {"source-operation": "getLangtutorRefTaskTypeList", "supplies": ["typeId", "тип задания"]}, {"source-operation": "getLangtutorTaskList", "supplies": ["taskId", "taskType", "topicId", "themeId"]}, {"source-operation": "getLangtutorTest", "supplies": ["testId", "question id", "варианты ответа"]}, {"source-operation": "getLangtutorSchoolWork", "supplies": ["schoolWorkId", "attemptId", "задания"]}, {"source-operation": "getLangtutorDictionaryWords", "supplies": ["словарные темы", "уровни", "статусы", "страницы"]}, {"source-operation": "searchGamificationClasses", "supplies": ["organizationId", "parallelIds"]}, {"source-operation": "searchGamificationPersons", "supplies": ["recipientProfileIds", "classUid", "firstName"]}, {"source-operation": "listGamificationPersons", "supplies": ["gamificationId", "recipient person context"]}, {"source-operation": "listGamificationProfiles", "supplies": ["profileId отправителя", "personId", "balance", "privacy settings"]}, {"source-operation": "searchGamificationRewards", "supplies": ["rewardId", "reward filters", "reward catalog context"]}, {"source-operation": "getGamificationReward", "supplies": ["rewardId", "selected reward context"]}, {"source-operation": "searchGamificationWorks", "supplies": ["workId", "workTypeIds", "subjectIds", "executionStatuses"]}, {"source-operation": "searchGamificationTransactionsByProfile", "supplies": ["dateFrom", "dateTo", "transaction history context"]}], "explicit-input": [{"fields": ["done", "status", "reason", "title", "text", "contact", "amount", "answers"], "source": "Ввод пользователя или форма UI; нельзя получить только безопасным GET."}]}, "x-inventory-counts": {"read-get-operations": 338, "not-invoked-mutation-operations": 212, "js-files-scanned": 157, "js-evidence-rows": 435, "js-distinct-candidates": 404, "js-mutation-candidates": 196, "js-excluded-evidence-rows": 24}, "x-source-legend": {"observed": "Запрос или маршрут непосредственно наблюдался при безопасной GET-навигации.", "bundle": "Точная строка маршрута/ресурса найдена в загруженных бандлах приложения или конфигурации.", "not-invoked": "Известный ресурс/метод добавлен только для полноты карты; никогда не вызывался."}, "x-api-base-paths": ["/api/ej/acl/v1", "/api/ej/core/family/v1", "/api/education_books/v1", "/api/ej/report/family/v1", "/api/additional_education/v1", "/api/ej/plan/family/v1", "/api/ej/rating/v1", "/api/ej/ec/family/v1", "/api/ej/organizer/family/v1", "/api/ej/partners/v1", "/api/ej/attachments/v1", "/api/certificates/family/v1", "/api/nsi/dictionaries/v1", "/api/family/web/v1", "/api/family/materials/v1", "/api/family/ispp/v1", "/api/pass/entrances/v1", "/api/persondata/v1", "/api/sfp/service/v1", "/api/claims", "/api/consents", "/api/circles/family/v1", "/api/materials/v1", "/api/lib/search/v2", "/api/lib/cms/v4", "/api/eventcalendar/v1", "/api/usersettings/v1", "/api/lrs/v2", "/api/exam/v1", "/api/projects/core", "/api/tasting/v1", "/api/knowledge_skill/v1", "/api/proforientation/crm/v1", "/api/soft_skills/v1", "/api/meals/v2", "/api/food/meals/v3", "/api/gamification/v1", "/api/family/web/v1/payments", "/mospaynew", "/api/contract/payments/v1", "/api/ej/psychology/v1", "/api/news/v2", "/api/passport/agents/v1", "/portfolio/app", "/help", "/langtutor/api/v1/"], "x-ui-routes": {"shell": ["/"], "passport": ["/passport", "/passport/data", "/passport/family", "/passport/safety"], "diary-root": ["/diary/", "/diary/schedules/day", "/diary/study", "/diary/homeworks", "/diary/marks", "/diary/account", "/diary/school", "/diary/bills", "/diary/main", "/diary/devAuth"], "diary-schedules": ["/diary/schedules", "/diary/schedules/{scheduleType}", "/diary/schedules/lesson/{entityKey}", "/diary/schedules/agreement/{eventSourceId}/{agreementId}/{personId}"], "diary-study": ["/diary/study/test-works", "/diary/study/academicDebts", "/diary/study/exams", "/diary/study/exams/{id}", "/diary/study/subjects", "/diary/study/subjects/{id}", "/diary/study/subjects/{subjectId}/personalTutor/{groupId}", "/diary/study/subjects/studyPlan", "/diary/study/skills", "/diary/study/education-books", "/diary/study/gamification", "/diary/study/gamification/tasks", "/diary/study/gamification/gifts", "/diary/study/gamification/ratings", "/diary/study/gamification/balance", "/diary/study/gamification/challenges", "/diary/study/gamification/challenges/{entityKey}"], "diary-account": ["/diary/account/profile", "/diary/account/transports_card", "/diary/account/certificates_of_study", "/diary/account/requests", "/diary/account/contracts", "/diary/account/contracts/{contractId}", "/diary/account/contracts/applications", "/diary/account/contracts/applications/{applicationId}", "/diary/account/children", "/diary/account/agreement", "/diary/account/reports", "/diary/account/reports/{id}", "/diary/account/application/{childrenId}", "/diary/account/tastings", "/diary/account/settings", "/diary/account/consents/{eventSourceId}/{agreementId}/{personId}"], "diary-school": ["/diary/school/attendance", "/diary/school/food", "/diary/school/transports_card", "/diary/school/self_education/{entityKey}", "/diary/school/virtual_helper", "/diary/school/virtual_helper/circle/{circleId}", "/diary/school/virtual_helper/statements/{statementId}", "/diary/school/virtual_helper/request/{circleId}/send", "/diary/school/events", "/diary/school/events/news/{entityKey}", "/diary/school/events/event/{entityKey}", "/diary/school/about-school", "/diary/school/external-links", "/diary/school/circles", "/diary/school/circles/{entityKey}", "/diary/school/circles/camps", "/diary/school/circles/camps/{entityKey}", "/diary/school/food/orderList", "/diary/school/psychologist"], "diary-homeworks": ["/diary/homeworks/homeworks", "/diary/homeworks/homeworks/{entityKey}", "/diary/homeworks/project-works", "/diary/homeworks/project-works/{entityKey}"], "diary-marks": ["/diary/marks/current-marks", "/diary/marks/current-marks/{entityKey}", "/diary/marks/final-marks", "/diary/marks/archive", "/diary/marks/archive/{entityKey}", "/diary/marks/rating"], "diary-bills": ["/diary/bills/bills-for-payment", "/diary/bills/food", "/diary/bills/payment-history"], "portfolio": ["/portfolio/auth", "/portfolio", "/portfolio/student", "/portfolio/interests", "/portfolio/student/setting", "/portfolio/employee/search", "/portfolio/admin/search", "/portfolio/employee/employee-history", "/portfolio/admin/settings", "/portfolio/admin/analytics", "/portfolio/admin/analytics/logs", "/portfolio/admin/analytics/reports", "/portfolio/admin/admin-delete-history", "/portfolio/shared-link", "/portfolio/student/modal", "/portfolio/student/setting/modal", "/portfolio/shared-link/{id}/modal", "/portfolio/errors"], "contests": ["/contests/exam"], "news": ["/news", "/news/user", "/news/user/channels", "/news/user/channel/news/{id}", "/news/user/channels/{id}", "/news/user/channels/main", "/news/user/channels/create", "/news/user/channels/{id}/news/create", "/news/user/channels/{id}/news/{newsId}/edit", "/news/user/channels/{id}/edit", "/news/user/channel/news/create"], "help": ["/help/"], "education": ["/01math/", "/langtutor", "/langtutor/welcome", "/langtutor/learning", "/langtutor/dictionary", "/langtutor/task/{taskType}/{taskId}", "/langtutor/final-test", "/langtutor/material", "/langtutor/school-work", "/langtutor/school-work/{schoolWorkId}/attempt/{attemptId}", "/langtutor/user/dashboard", "/langtutor/results/theme/{themeSystemId}", "/langtutor/error/{code}", "/langtutor/service-error"]}, "paths": {"/config.json": {"get": {"operationId": "getSiteConfig", "tags": ["Core/Auth"], "summary": "Прочитать конфигурацию веб-оболочки", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-source": "observed", "x-auto-observed": true, "responses": {"200": {"$ref": "#/components/responses/JsonOk"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "description": "Назначение: Прочитать конфигурацию веб-оболочки\nAuthorizations: не задано\nМетод: GET\nПуть: `/config.json`\noperationId: `getSiteConfig`\n\n**Responses:**\n\n- `200`: #/components/responses/JsonOk\n- `default`: #/components/responses/ApiError\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Получение данных ресурса.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.", "x-method-purpose": "Получение данных ресурса", "x-confidence": "observed", "x-auth-note": "Один из способов авторизации: Bearer-токен или cookie aupd_token; требование одновременно обоих способов статически не подтверждено."}}, "/v1/roles/allGlobal/": {"get": {"operationId": "getGlobalRoles", "tags": ["Core/Auth"], "summary": "Получить список доступных ролей", "x-source": "observed", "x-auto-observed": true, "responses": {"200": {"$ref": "#/components/responses/JsonOk"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "description": "Назначение: Получить список доступных ролей\nAuthorizations: aupdToken, bearerAuth\nМетод: GET\nПуть: `/v1/roles/allGlobal/`\noperationId: `getGlobalRoles`\n\n**Responses:**\n\n- `200`: #/components/responses/JsonOk\n- `default`: #/components/responses/ApiError\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Получение данных ресурса.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.", "x-method-purpose": "Получение данных ресурса", "x-confidence": "observed", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-auth-note": "Один из способов авторизации: Bearer-токен или cookie aupd_token; требование одновременно обоих способов статически не подтверждено."}}, "/v1/menu": {"get": {"operationId": "getMenu", "tags": ["Core/Auth"], "summary": "Прочитать меню приложения с учётом роли", "parameters": [{"$ref": "#/components/parameters/RoleIdQuery"}], "x-source": "observed", "x-auto-observed": true, "responses": {"200": {"$ref": "#/components/responses/JsonOk"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "description": "Назначение: Прочитать меню приложения с учётом роли\nAuthorizations: aupdToken, bearerAuth\nМетод: GET\nПуть: `/v1/menu`\noperationId: `getMenu`\n\nQuery-параметры:\n- `roleId` (необязателен, string): Необязательный идентификатор роли.\n\n**Responses:**\n\n- `200`: #/components/responses/JsonOk\n- `default`: #/components/responses/ApiError\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Получение данных ресурса.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.", "x-method-purpose": "Получение данных ресурса", "x-confidence": "observed", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-auth-note": "Один из способов авторизации: Bearer-токен или cookie aupd_token; требование одновременно обоих способов статически не подтверждено."}}, "/v1/sudir/{contur}/user/info": {"get": {"operationId": "getSudirUserInfoByContur", "tags": ["Core/Auth"], "summary": "Прочитать пользовательский контекст SUDIR для контура", "parameters": [{"$ref": "#/components/parameters/Contur"}], "x-source": "observed", "x-auto-observed": true, "responses": {"200": {"$ref": "#/components/responses/JsonOk"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "description": "Назначение: Прочитать пользовательский контекст SUDIR для контура\nAuthorizations: aupdToken, bearerAuth\nМетод: GET\nПуть: `/v1/sudir/{contur}/user/info`\noperationId: `getSudirUserInfoByContur`\n\nPath-параметры:\n- `contur` (обязателен, string): Идентификатор контура SUDIR; только заполнитель.\n\n**Responses:**\n\n- `200`: #/components/responses/JsonOk\n- `default`: #/components/responses/ApiError\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Получение данных ресурса.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.", "x-method-purpose": "Получение данных ресурса", "x-confidence": "observed", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-auth-note": "Один из способов авторизации: Bearer-токен или cookie aupd_token; требование одновременно обоих способов статически не подтверждено."}}, "/v3/userinfo": {"get": {"operationId": "getUserInfo", "tags": ["Core/Auth"], "summary": "Прочитать сведения о текущем пользователе", "x-source": "observed", "x-auto-observed": true, "responses": {"200": {"$ref": "#/components/responses/JsonOk"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "description": "Назначение: Прочитать сведения о текущем пользователе\nAuthorizations: aupdToken, bearerAuth\nМетод: GET\nПуть: `/v3/userinfo`\noperationId: `getUserInfo`\n\n**Responses:**\n\n- `200`: #/components/responses/JsonOk\n- `default`: #/components/responses/ApiError\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Получение данных ресурса.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.", "x-method-purpose": "Получение данных ресурса", "x-confidence": "observed", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-auth-note": "Один из способов авторизации: Bearer-токен или cookie aupd_token; требование одновременно обоих способов статически не подтверждено."}}, "/v1/oauth/userinfo": {"get": {"operationId": "getOauthUserInfo", "tags": ["Core/Auth"], "summary": "Прочитать сведения о пользователе OAuth", "x-source": "observed", "x-auto-observed": true, "responses": {"200": {"$ref": "#/components/responses/JsonOk"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "description": "Назначение: Прочитать сведения о пользователе OAuth\nAuthorizations: aupdToken, bearerAuth\nМетод: GET\nПуть: `/v1/oauth/userinfo`\noperationId: `getOauthUserInfo`\n\n**Responses:**\n\n- `200`: #/components/responses/JsonOk\n- `default`: #/components/responses/ApiError\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Получение данных ресурса.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.", "x-method-purpose": "Получение данных ресурса", "x-confidence": "observed", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-auth-note": "Один из способов авторизации: Bearer-токен или cookie aupd_token; требование одновременно обоих способов статически не подтверждено."}}, "/v1/oauth/userinfo/children": {"get": {"operationId": "getOauthChildren", "tags": ["Core/Auth"], "summary": "Прочитать контекст ребёнка OAuth", "x-source": "observed", "x-auto-observed": true, "responses": {"200": {"$ref": "#/components/responses/JsonOk"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "description": "Назначение: Прочитать контекст ребёнка OAuth\nAuthorizations: aupdToken, bearerAuth\nМетод: GET\nПуть: `/v1/oauth/userinfo/children`\noperationId: `getOauthChildren`\n\n**Responses:**\n\n- `200`: #/components/responses/JsonOk\n- `default`: #/components/responses/ApiError\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Получение данных ресурса.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.", "x-method-purpose": "Получение данных ресурса", "x-confidence": "observed", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-auth-note": "Один из способов авторизации: Bearer-токен или cookie aupd_token; требование одновременно обоих способов статически не подтверждено."}}, "/v1/device/user": {"get": {"operationId": "getDeviceUser", "tags": ["Core/Auth"], "summary": "Прочитать контекст пользователя, связанный с устройством", "x-source": "observed", "x-auto-observed": true, "responses": {"200": {"$ref": "#/components/responses/JsonOk"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "description": "Назначение: Прочитать контекст пользователя, связанный с устройством\nAuthorizations: aupdToken, bearerAuth\nМетод: GET\nПуть: `/v1/device/user`\noperationId: `getDeviceUser`\n\n**Responses:**\n\n- `200`: #/components/responses/JsonOk\n- `default`: #/components/responses/ApiError\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Получение данных ресурса.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.", "x-method-purpose": "Получение данных ресурса", "x-confidence": "observed", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-auth-note": "Один из способов авторизации: Bearer-токен или cookie aupd_token; требование одновременно обоих способов статически не подтверждено."}, "put": {"operationId": "jsputV1DeviceUser", "tags": ["Core/Auth"], "summary": "Изменение данных ресурса", "description": "Операция обнаружена статическим анализом сохранённого JavaScript-бандла. Она не вызывалась в read-only аудите; наличие строки в bundle не гарантирует доступность для текущей роли.\n\n---\n\nНазначение: Операция обнаружена статическим анализом сохранённого JavaScript-бандла. Она не вызывалась в read-only аудите; наличие строки в bundle не гарантирует доступность для текущей роли.\nAuthorizations: aupdToken, bearerAuth\nМетод: PUT\nПуть: `/v1/device/user`\noperationId: `jsputV1DeviceUser`\nПримечание: x-not-invoked: true (запрос намеренно не выполнялся в аудит-режиме).\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Изменение данных ресурса.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.\n\nПример curl (синтетический, запрос не выполнялся):\n```bash\ncurl -X PUT 'https://school.mos.ru/v1/device/user' \\\n  -H 'Authorization: Bearer <TOKEN>' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"deviceAlias\": \"deviceAlias-demo\", \"roleId\": 1, \"subsystem\": \"subsystem-demo\"}'\n```", "x-source": "bundle", "x-source-file": "javascript/passport/js/bundle.bab5cd158b6b681779e3.bundle.js", "x-source-line": 1, "x-evidence-count": 2, "x-not-invoked": true, "requestBody": {"required": false, "description": "Поля перечислены по статическому bundle-evidence; типы и значения примера обобщены. Значения синтетические; вызов в ходе аудита не выполнялся.", "x-example-synthetic": true, "x-data-sources": {"deviceAlias": ["bundle field name; exact value not recovered"], "roleId": ["read-only GET response, route context, or UI selection"], "subsystem": ["bundle field name; exact value not recovered"]}, "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true, "properties": {"deviceAlias": {"type": "string", "description": "Поле `deviceAlias`; тип выведен из bundle/UI. Значение берётся из формы, параметров маршрута или связанного GET-ответа; точная обязательность не подтверждена.", "x-confidence": "bundle"}, "roleId": {"type": "number", "description": "Поле `roleId`; тип выведен из bundle/UI. Значение берётся из формы, параметров маршрута или связанного GET-ответа; точная обязательность не подтверждена.", "x-confidence": "bundle"}, "subsystem": {"type": "string", "description": "Поле `subsystem`; тип выведен из bundle/UI. Значение берётся из формы, параметров маршрута или связанного GET-ответа; точная обязательность не подтверждена.", "x-confidence": "bundle"}}, "x-field-source-note": "Источники полей указаны в x-data-sources/requestBody; неизвестные значения синтетические."}, "examples": {"synthetic": {"summary": "Синтетический пример", "value": {"deviceAlias": "deviceAlias-demo", "roleId": 1, "subsystem": "subsystem-demo"}}}}}, "x-confidence": "bundle", "x-required-fields": []}, "responses": {"200": {"$ref": "#/components/responses/MutationOk"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "x-method-purpose": "Изменение данных ресурса", "x-confidence": "bundle", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-auth-note": "Один из способов авторизации: Bearer-токен или cookie aupd_token; требование одновременно обоих способов статически не подтверждено."}}, "/v1/user/childrens": {"get": {"operationId": "listUserChildren", "tags": ["Core/Auth"], "summary": "Получить список детей, доступных текущему пользователю", "x-source": "observed", "x-auto-observed": true, "responses": {"200": {"$ref": "#/components/responses/JsonOk"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "description": "Назначение: Получить список детей, доступных текущему пользователю\nAuthorizations: aupdToken, bearerAuth\nМетод: GET\nПуть: `/v1/user/childrens`\noperationId: `listUserChildren`\n\n**Responses:**\n\n- `200`: #/components/responses/JsonOk\n- `default`: #/components/responses/ApiError\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Получение данных ресурса.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.", "x-method-purpose": "Получение данных ресурса", "x-confidence": "observed", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-auth-note": "Один из способов авторизации: Bearer-токен или cookie aupd_token; требование одновременно обоих способов статически не подтверждено."}}, "/v1/user/contacts": {"get": {"operationId": "listUserContacts", "tags": ["Core/Auth"], "summary": "Прочитать контакты пользователя", "x-source": "observed", "x-auto-observed": true, "responses": {"200": {"$ref": "#/components/responses/JsonOk"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "description": "Назначение: Прочитать контакты пользователя\nAuthorizations: aupdToken, bearerAuth\nМетод: GET\nПуть: `/v1/user/contacts`\noperationId: `listUserContacts`\n\n**Responses:**\n\n- `200`: #/components/responses/JsonOk\n- `default`: #/components/responses/ApiError\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Получение данных ресурса.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.", "x-method-purpose": "Получение данных ресурса", "x-confidence": "observed", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-auth-note": "Один из способов авторизации: Bearer-токен или cookie aupd_token; требование одновременно обоих способов статически не подтверждено."}}, "/v1/sudir/user/info": {"get": {"operationId": "getSudirUserInfo", "tags": ["Core/Auth"], "summary": "Прочитать сведения о пользователе SUDIR по умолчанию", "x-source": "observed", "x-auto-observed": true, "responses": {"200": {"$ref": "#/components/responses/JsonOk"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "description": "Назначение: Прочитать сведения о пользователе SUDIR по умолчанию\nAuthorizations: aupdToken, bearerAuth\nМетод: GET\nПуть: `/v1/sudir/user/info`\noperationId: `getSudirUserInfo`\n\n**Responses:**\n\n- `200`: #/components/responses/JsonOk\n- `default`: #/components/responses/ApiError\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Получение данных ресурса.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.", "x-method-purpose": "Получение данных ресурса", "x-confidence": "observed", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-auth-note": "Один из способов авторизации: Bearer-токен или cookie aupd_token; требование одновременно обоих способов статически не подтверждено."}}, "/v1/nsi/organisations": {"get": {"operationId": "listOrganisations", "tags": ["Core/Auth"], "summary": "Получить список справочных организаций", "x-source": "observed", "x-auto-observed": true, "responses": {"200": {"$ref": "#/components/responses/JsonOk"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "description": "Назначение: Получить список справочных организаций\nAuthorizations: aupdToken, bearerAuth\nМетод: GET\nПуть: `/v1/nsi/organisations`\noperationId: `listOrganisations`\n\n**Responses:**\n\n- `200`: #/components/responses/JsonOk\n- `default`: #/components/responses/ApiError\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Получение данных ресурса.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.", "x-method-purpose": "Получение данных ресурса", "x-confidence": "observed", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-auth-note": "Один из способов авторизации: Bearer-токен или cookie aupd_token; требование одновременно обоих способов статически не подтверждено."}}, "/v3/pin": {"get": {"operationId": "getPin", "tags": ["Core/Auth"], "summary": "Прочитать текущее состояние PIN-кода", "x-source": "observed", "x-auto-observed": true, "responses": {"200": {"$ref": "#/components/responses/JsonOk"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "description": "Назначение: Прочитать текущее состояние PIN-кода\nAuthorizations: aupdToken, bearerAuth\nМетод: GET\nПуть: `/v3/pin`\noperationId: `getPin`\n\n**Responses:**\n\n- `200`: #/components/responses/JsonOk\n- `default`: #/components/responses/ApiError\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Получение данных ресурса.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.", "x-method-purpose": "Получение данных ресурса", "x-confidence": "observed", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-auth-note": "Один из способов авторизации: Bearer-токен или cookie aupd_token; требование одновременно обоих способов статически не подтверждено."}, "post": {"operationId": "jspostV3Pin", "tags": ["Core/Auth"], "summary": "Отправка данных или выполнение операции ресурса", "description": "Операция обнаружена статическим анализом сохранённого JavaScript-бандла. Она не вызывалась в read-only аудите; наличие строки в bundle не гарантирует доступность для текущей роли.\n\n---\n\nНазначение: Операция обнаружена статическим анализом сохранённого JavaScript-бандла. Она не вызывалась в read-only аудите; наличие строки в bundle не гарантирует доступность для текущей роли.\nAuthorizations: aupdToken, bearerAuth\nМетод: POST\nПуть: `/v3/pin`\noperationId: `jspostV3Pin`\nПримечание: x-not-invoked: true (запрос намеренно не выполнялся в аудит-режиме).\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Отправка данных или выполнение операции ресурса.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.\n\nПример curl (синтетический, запрос не выполнялся):\n```bash\ncurl -X POST 'https://school.mos.ru/v3/pin' \\\n  -H 'Authorization: Bearer <TOKEN>' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"password\": \"password-demo\", \"ssoId\": \"ssoId-demo\"}'\n```", "x-source": "bundle", "x-source-file": "javascript/static/js/main.a0de76b0.chunk.js", "x-source-line": 1, "x-evidence-count": 1, "x-not-invoked": true, "requestBody": {"required": false, "description": "Поля перечислены по статическому bundle-evidence; типы и значения примера обобщены. Значения синтетические; вызов в ходе аудита не выполнялся.", "x-example-synthetic": true, "x-data-sources": {"password": ["user-or-ui-input (synthetic placeholder only)"], "ssoId": ["read-only GET response, route context, or UI selection"]}, "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true, "properties": {"password": {"type": "string", "description": "Поле `password`; тип выведен из bundle/UI. Значение берётся из формы, параметров маршрута или связанного GET-ответа; точная обязательность не подтверждена.", "x-confidence": "bundle"}, "ssoId": {"type": "string", "description": "Поле `ssoId`; тип выведен из bundle/UI. Значение берётся из формы, параметров маршрута или связанного GET-ответа; точная обязательность не подтверждена.", "x-confidence": "bundle"}}, "x-field-source-note": "Источники полей указаны в x-data-sources/requestBody; неизвестные значения синтетические."}, "examples": {"synthetic": {"summary": "Синтетический пример", "value": {"password": "password-demo", "ssoId": "ssoId-demo"}}}}}, "x-confidence": "bundle", "x-required-fields": []}, "responses": {"200": {"$ref": "#/components/responses/MutationOk"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "x-method-purpose": "Отправка данных или выполнение операции ресурса", "x-confidence": "bundle", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-auth-note": "Один из способов авторизации: Bearer-токен или cookie aupd_token; требование одновременно обоих способов статически не подтверждено."}}, "/v1/sudir/{contur}/{ssoId}/rights": {"get": {"operationId": "getSudirRights", "tags": ["Core/Auth"], "summary": "Прочитать права SUDIR пользователя и контура", "parameters": [{"$ref": "#/components/parameters/Contur"}, {"$ref": "#/components/parameters/SsoId"}], "x-source": "observed", "x-auto-observed": true, "responses": {"200": {"$ref": "#/components/responses/JsonOk"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "description": "Назначение: Прочитать права SUDIR пользователя и контура\nAuthorizations: aupdToken, bearerAuth\nМетод: GET\nПуть: `/v1/sudir/{contur}/{ssoId}/rights`\noperationId: `getSudirRights`\n\nPath-параметры:\n- `contur` (обязателен, string): Идентификатор контура SUDIR; только заполнитель.\n- `ssoId` (обязателен, string): Непрозрачный идентификатор SSO; только заполнитель.\n\n**Responses:**\n\n- `200`: #/components/responses/JsonOk\n- `default`: #/components/responses/ApiError\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Получение данных ресурса.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.", "x-method-purpose": "Получение данных ресурса", "x-confidence": "observed", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-auth-note": "Один из способов авторизации: Bearer-токен или cookie aupd_token; требование одновременно обоих способов статически не подтверждено."}}, "/v2/external-partners/list": {"get": {"operationId": "listExternalPartners", "tags": ["Core/Auth"], "summary": "Получить список внешних партнёров", "x-source": "observed", "x-auto-observed": true, "responses": {"200": {"$ref": "#/components/responses/JsonOk"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "description": "Назначение: Получить список внешних партнёров\nAuthorizations: aupdToken, bearerAuth\nМетод: GET\nПуть: `/v2/external-partners/list`\noperationId: `listExternalPartners`\n\n**Responses:**\n\n- `200`: #/components/responses/JsonOk\n- `default`: #/components/responses/ApiError\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Поиск, фильтрация или получение списка ресурса.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.", "x-method-purpose": "Поиск, фильтрация или получение списка ресурса", "x-confidence": "observed", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-auth-note": "Один из способов авторизации: Bearer-токен или cookie aupd_token; требование одновременно обоих способов статически не подтверждено.", "parameters": [{"name": "page", "in": "query", "required": false, "description": "Номер страницы; inferred из типового UI-пагинатора.", "x-confidence": "inferred", "schema": {"type": "integer", "example": 1}}, {"name": "pageSize", "in": "query", "required": false, "description": "Размер страницы; inferred из типового UI-пагинатора.", "x-confidence": "inferred", "schema": {"type": "integer", "example": 20}}, {"name": "sort", "in": "query", "required": false, "description": "Поле сортировки; точное имя зависит от конкретного ресурса.", "x-confidence": "inferred", "schema": {"type": "string", "example": "createdAt"}}, {"name": "direction", "in": "query", "required": false, "description": "Направление сортировки: обычно ASC или DESC; enum не подтверждён сервером.", "x-confidence": "inferred", "schema": {"type": "string", "example": "DESC"}}, {"name": "dateFrom", "in": "query", "required": false, "description": "Нижняя граница периода; формат обычно ISO 8601, inferred.", "x-confidence": "inferred", "schema": {"type": "string", "example": "2026-01-01T00:00:00Z"}}, {"name": "dateTo", "in": "query", "required": false, "description": "Верхняя граница периода; формат обычно ISO 8601, inferred.", "x-confidence": "inferred", "schema": {"type": "string", "example": "2026-01-31T23:59:59Z"}}]}}, "/v3/auth/esia/linking": {"get": {"operationId": "getEsiaLinking", "tags": ["Core/Auth"], "summary": "Прочитать состояние привязки к ЕСИА", "x-source": "observed", "x-auto-observed": true, "responses": {"200": {"$ref": "#/components/responses/JsonOk"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "description": "Назначение: Прочитать состояние привязки к ЕСИА\nAuthorizations: aupdToken, bearerAuth\nМетод: GET\nПуть: `/v3/auth/esia/linking`\noperationId: `getEsiaLinking`\n\n**Responses:**\n\n- `200`: #/components/responses/JsonOk\n- `default`: #/components/responses/ApiError\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Получение данных ресурса.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.", "x-method-purpose": "Получение данных ресурса", "x-confidence": "observed", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-auth-note": "Один из способов авторизации: Bearer-токен или cookie aupd_token; требование одновременно обоих способов статически не подтверждено."}, "delete": {"operationId": "jsdeleteV3AuthEsiaLinking", "tags": ["Passport"], "summary": "Удаление ресурса", "description": "Операция обнаружена статическим анализом сохранённого JavaScript-бандла. Она не вызывалась в read-only аудите; наличие строки в bundle не гарантирует доступность для текущей роли.\n\n---\n\nНазначение: Операция обнаружена статическим анализом сохранённого JavaScript-бандла. Она не вызывалась в read-only аудите; наличие строки в bundle не гарантирует доступность для текущей роли.\nAuthorizations: aupdToken, bearerAuth\nМетод: DELETE\nПуть: `/v3/auth/esia/linking`\noperationId: `jsdeleteV3AuthEsiaLinking`\nПримечание: x-not-invoked: true (запрос намеренно не выполнялся в аудит-режиме).\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Удаление ресурса.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.\n\nПример curl (синтетический, запрос не выполнялся):\n```bash\ncurl -X DELETE 'https://school.mos.ru/v3/auth/esia/linking' \\\n  -H 'Authorization: Bearer <TOKEN>' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"ksid\": \"ksid-demo\", \"sso\": \"sso-demo\"}'\n```", "x-source": "bundle", "x-source-file": "javascript/passport/js/bundle.bab5cd158b6b681779e3.bundle.js", "x-source-line": 1, "x-evidence-count": 2, "x-not-invoked": true, "requestBody": {"required": false, "description": "Поля перечислены по статическому bundle-evidence; типы и значения примера обобщены. Значения синтетические; вызов в ходе аудита не выполнялся.", "x-example-synthetic": true, "x-data-sources": {"ksid": ["read-only GET response, route context, or UI selection"], "sso": ["user-or-ui-input (synthetic placeholder only)"]}, "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true, "properties": {"ksid": {"type": "string", "description": "Поле `ksid`; тип выведен из bundle/UI. Значение берётся из формы, параметров маршрута или связанного GET-ответа; точная обязательность не подтверждена.", "x-confidence": "bundle"}, "sso": {"type": "string", "description": "Поле `sso`; тип выведен из bundle/UI. Значение берётся из формы, параметров маршрута или связанного GET-ответа; точная обязательность не подтверждена.", "x-confidence": "bundle"}}, "x-field-source-note": "Источники полей указаны в x-data-sources/requestBody; неизвестные значения синтетические."}, "examples": {"synthetic": {"summary": "Синтетический пример", "value": {"ksid": "ksid-demo", "sso": "sso-demo"}}}}}, "x-confidence": "bundle", "x-required-fields": []}, "responses": {"204": {"$ref": "#/components/responses/NoContent"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "x-method-purpose": "Удаление ресурса", "x-confidence": "bundle", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-auth-note": "Один из способов авторизации: Bearer-токен или cookie aupd_token; требование одновременно обоих способов статически не подтверждено."}}, "/v1/urlSign": {"get": {"operationId": "getUrlSign", "tags": ["Core/Auth"], "summary": "Прочитать метаданные подписи URL", "x-source": "observed", "x-auto-observed": true, "responses": {"200": {"$ref": "#/components/responses/JsonOk"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "description": "Назначение: Прочитать метаданные подписи URL\nAuthorizations: aupdToken, bearerAuth\nМетод: GET\nПуть: `/v1/urlSign`\noperationId: `getUrlSign`\n\n**Responses:**\n\n- `200`: #/components/responses/JsonOk\n- `default`: #/components/responses/ApiError\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Получение данных ресурса.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.", "x-method-purpose": "Получение данных ресурса", "x-confidence": "observed", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-auth-note": "Один из способов авторизации: Bearer-токен или cookie aupd_token; требование одновременно обоих способов статически не подтверждено."}}, "/fos/v1/url/": {"get": {"operationId": "getFosUrl", "tags": ["Core/Auth"], "summary": "Прочитать метаданные URL FOS", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-source": "observed", "x-auto-observed": true, "responses": {"200": {"$ref": "#/components/responses/JsonOk"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "description": "Назначение: Прочитать метаданные URL FOS\nAuthorizations: не задано\nМетод: GET\nПуть: `/fos/v1/url/`\noperationId: `getFosUrl`\n\n**Responses:**\n\n- `200`: #/components/responses/JsonOk\n- `default`: #/components/responses/ApiError\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Получение данных ресурса.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.", "x-method-purpose": "Получение данных ресурса", "x-confidence": "observed", "x-auth-note": "Один из способов авторизации: Bearer-токен или cookie aupd_token; требование одновременно обоих способов статически не подтверждено."}}, "/api/fos/v1/url/": {"get": {"operationId": "getApiFosUrl", "tags": ["Core/Auth"], "summary": "Прочитать метаданные URL API FOS", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-source": "observed", "x-auto-observed": true, "responses": {"200": {"$ref": "#/components/responses/JsonOk"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "description": "Назначение: Прочитать метаданные URL API FOS\nAuthorizations: не задано\nМетод: GET\nПуть: `/api/fos/v1/url/`\noperationId: `getApiFosUrl`\n\n**Responses:**\n\n- `200`: #/components/responses/JsonOk\n- `default`: #/components/responses/ApiError\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Получение данных ресурса.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.", "x-method-purpose": "Получение данных ресурса", "x-confidence": "observed", "x-auth-note": "Один из способов авторизации: Bearer-токен или cookie aupd_token; требование одновременно обоих способов статически не подтверждено."}}, "/v2/external-partners/check-for-max-user": {"get": {"operationId": "checkMaxUser", "tags": ["Core/Auth"], "summary": "Проверить доступность пользователя-партнёра MAX", "x-source": "observed", "x-auto-observed": true, "responses": {"200": {"$ref": "#/components/responses/JsonOk"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "description": "Назначение: Проверить доступность пользователя-партнёра MAX\nAuthorizations: aupdToken, bearerAuth\nМетод: GET\nПуть: `/v2/external-partners/check-for-max-user`\noperationId: `checkMaxUser`\n\n**Responses:**\n\n- `200`: #/components/responses/JsonOk\n- `default`: #/components/responses/ApiError\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Получение данных ресурса.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.", "x-method-purpose": "Получение данных ресурса", "x-confidence": "observed", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-auth-note": "Один из способов авторизации: Bearer-токен или cookie aupd_token; требование одновременно обоих способов статически не подтверждено."}}, "/v3/max/send-phone": {"get": {"operationId": "sendMaxPhone", "tags": ["Core/Auth"], "summary": "Маршрут запроса телефонного кода MAX", "description": "Добавлено только для полноты карты; при аудите в режиме только чтения запрос не отправлялся.\n\n---\n\nНазначение: Добавлено только для полноты карты; при аудите в режиме только чтения запрос не отправлялся.\nAuthorizations: aupdToken, bearerAuth\nМетод: GET\nПуть: `/v3/max/send-phone`\noperationId: `sendMaxPhone`\nПримечание: x-not-invoked: true (запрос намеренно не выполнялся в аудит-режиме).\n\n**Responses:**\n\n- `200`: #/components/responses/JsonOk\n- `default`: #/components/responses/ApiError\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Отправка данных формы, заявки или заказа.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.", "x-source": "bundle", "x-not-invoked": true, "responses": {"200": {"$ref": "#/components/responses/JsonOk"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "x-method-purpose": "Отправка данных формы, заявки или заказа", "x-confidence": "bundle", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-auth-note": "Один из способов авторизации: Bearer-токен или cookie aupd_token; требование одновременно обоих способов статически не подтверждено."}, "post": {"operationId": "jspostV3MaxSendPhone", "tags": ["Core/Auth"], "summary": "Отправка данных формы, заявки или заказа", "description": "Операция обнаружена статическим анализом сохранённого JavaScript-бандла. Она не вызывалась в read-only аудите; наличие строки в bundle не гарантирует доступность для текущей роли.\n\n---\n\nНазначение: Операция обнаружена статическим анализом сохранённого JavaScript-бандла. Она не вызывалась в read-only аудите; наличие строки в bundle не гарантирует доступность для текущей роли.\nAuthorizations: aupdToken, bearerAuth\nМетод: POST\nПуть: `/v3/max/send-phone`\noperationId: `jspostV3MaxSendPhone`\nПримечание: x-not-invoked: true (запрос намеренно не выполнялся в аудит-режиме).\n\nQuery-параметры:\n- `phone` (необязателен, string): Параметр обнаружен в query-сериализации JS; синтетический пример.\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Отправка данных формы, заявки или заказа.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.\n\nПример curl (синтетический, запрос не выполнялся):\n```bash\ncurl -X POST 'https://school.mos.ru/v3/max/send-phone' \\\n  -H 'Authorization: Bearer <TOKEN>' \\\n  -H 'Content-Type: application/json' \\\n  -d '{}'\n```", "x-source": "bundle", "x-source-file": "javascript/static/js/main.a0de76b0.chunk.js", "x-source-line": 1, "x-evidence-count": 1, "parameters": [{"name": "phone", "in": "query", "required": false, "description": "Параметр обнаружен в query-сериализации JS; синтетический пример.", "schema": {"type": "string", "example": "phone-demo"}}], "x-not-invoked": true, "requestBody": {"required": false, "description": "Тело запроса в сохранённом JS не имело статически извлекаемых ключей; показан гибкий синтетический заполнитель. Значения синтетические; вызов в ходе аудита не выполнялся.", "x-example-synthetic": true, "x-data-sources": {"body": ["точная форма тела не восстановлена из bundle"]}, "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true, "properties": {}, "description": "Форма JSON не восстановлена статически; разрешены произвольные поля только как документационный заполнитель.", "x-field-source-note": "Источники полей указаны в x-data-sources/requestBody; неизвестные значения синтетические."}, "examples": {"synthetic": {"summary": "Синтетический пример; не отправлялся", "value": {}}}}}, "x-confidence": "bundle", "x-required-fields": []}, "responses": {"200": {"$ref": "#/components/responses/MutationOk"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "x-method-purpose": "Отправка данных формы, заявки или заказа", "x-confidence": "bundle", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-auth-note": "Один из способов авторизации: Bearer-токен или cookie aupd_token; требование одновременно обоих способов статически не подтверждено."}}, "/v3/max/send-code": {"get": {"operationId": "sendMaxCode", "tags": ["Core/Auth"], "summary": "Маршрут кода подтверждения MAX", "description": "Добавлено только для полноты карты; при аудите в режиме только чтения запрос не отправлялся.\n\n---\n\nНазначение: Добавлено только для полноты карты; при аудите в режиме только чтения запрос не отправлялся.\nAuthorizations: aupdToken, bearerAuth\nМетод: GET\nПуть: `/v3/max/send-code`\noperationId: `sendMaxCode`\nПримечание: x-not-invoked: true (запрос намеренно не выполнялся в аудит-режиме).\n\n**Responses:**\n\n- `200`: #/components/responses/JsonOk\n- `default`: #/components/responses/ApiError\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Отправка данных формы, заявки или заказа.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.", "x-source": "bundle", "x-not-invoked": true, "responses": {"200": {"$ref": "#/components/responses/JsonOk"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "x-method-purpose": "Отправка данных формы, заявки или заказа", "x-confidence": "bundle", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-auth-note": "Один из способов авторизации: Bearer-токен или cookie aupd_token; требование одновременно обоих способов статически не подтверждено."}, "post": {"operationId": "jspostV3MaxSendCode", "tags": ["Core/Auth"], "summary": "Отправка данных формы, заявки или заказа", "description": "Операция обнаружена статическим анализом сохранённого JavaScript-бандла. Она не вызывалась в read-only аудите; наличие строки в bundle не гарантирует доступность для текущей роли.\n\n---\n\nНазначение: Операция обнаружена статическим анализом сохранённого JavaScript-бандла. Она не вызывалась в read-only аудите; наличие строки в bundle не гарантирует доступность для текущей роли.\nAuthorizations: aupdToken, bearerAuth\nМетод: POST\nПуть: `/v3/max/send-code`\noperationId: `jspostV3MaxSendCode`\nПримечание: x-not-invoked: true (запрос намеренно не выполнялся в аудит-режиме).\n\nQuery-параметры:\n- `code` (необязателен, string): Параметр обнаружен в query-сериализации JS; синтетический пример.\n- `phone` (необязателен, string): Параметр обнаружен в query-сериализации JS; синтетический пример.\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Отправка данных формы, заявки или заказа.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.\n\nПример curl (синтетический, запрос не выполнялся):\n```bash\ncurl -X POST 'https://school.mos.ru/v3/max/send-code' \\\n  -H 'Authorization: Bearer <TOKEN>' \\\n  -H 'Content-Type: application/json' \\\n  -d '{}'\n```", "x-source": "bundle", "x-source-file": "javascript/static/js/main.a0de76b0.chunk.js", "x-source-line": 1, "x-evidence-count": 1, "parameters": [{"name": "code", "in": "query", "required": false, "description": "Параметр обнаружен в query-сериализации JS; синтетический пример.", "schema": {"type": "string", "example": "code-demo"}}, {"name": "phone", "in": "query", "required": false, "description": "Параметр обнаружен в query-сериализации JS; синтетический пример.", "schema": {"type": "string", "example": "phone-demo"}}], "x-not-invoked": true, "requestBody": {"required": false, "description": "Тело запроса в сохранённом JS не имело статически извлекаемых ключей; показан гибкий синтетический заполнитель. Значения синтетические; вызов в ходе аудита не выполнялся.", "x-example-synthetic": true, "x-data-sources": {"body": ["точная форма тела не восстановлена из bundle"]}, "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true, "properties": {}, "description": "Форма JSON не восстановлена статически; разрешены произвольные поля только как документационный заполнитель.", "x-field-source-note": "Источники полей указаны в x-data-sources/requestBody; неизвестные значения синтетические."}, "examples": {"synthetic": {"summary": "Синтетический пример; не отправлялся", "value": {}}}}}, "x-confidence": "bundle", "x-required-fields": []}, "responses": {"200": {"$ref": "#/components/responses/MutationOk"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "x-method-purpose": "Отправка данных формы, заявки или заказа", "x-confidence": "bundle", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-auth-note": "Один из способов авторизации: Bearer-токен или cookie aupd_token; требование одновременно обоих способов статически не подтверждено."}}, "/v1/wifi/user/authorize": {"get": {"operationId": "authorizeWifiUser", "tags": ["Core/Auth"], "summary": "Маршрут авторизации пользователя Wi‑Fi", "description": "Добавлено только для полноты карты; при аудите в режиме только чтения запрос не отправлялся.\n\n---\n\nНазначение: Добавлено только для полноты карты; при аудите в режиме только чтения запрос не отправлялся.\nAuthorizations: aupdToken, bearerAuth\nМетод: GET\nПуть: `/v1/wifi/user/authorize`\noperationId: `authorizeWifiUser`\nПримечание: x-not-invoked: true (запрос намеренно не выполнялся в аудит-режиме).\n\n**Responses:**\n\n- `200`: #/components/responses/JsonOk\n- `default`: #/components/responses/ApiError\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Получение данных ресурса.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.", "x-source": "bundle", "x-not-invoked": true, "responses": {"200": {"$ref": "#/components/responses/JsonOk"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "x-method-purpose": "Получение данных ресурса", "x-confidence": "bundle", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-auth-note": "Один из способов авторизации: Bearer-токен или cookie aupd_token; требование одновременно обоих способов статически не подтверждено."}}, "/v2/redirect": {"get": {"operationId": "followRedirect", "tags": ["Core/Auth"], "summary": "Общий маршрут перенаправления", "description": "Добавлено только для полноты карты; при аудите в режиме только чтения запрос не отправлялся.\n\n---\n\nНазначение: Добавлено только для полноты карты; при аудите в режиме только чтения запрос не отправлялся.\nAuthorizations: aupdToken, bearerAuth\nМетод: GET\nПуть: `/v2/redirect`\noperationId: `followRedirect`\nПримечание: x-not-invoked: true (запрос намеренно не выполнялся в аудит-режиме).\n\n**Responses:**\n\n- `302`: #/components/responses/Redirect\n- `default`: #/components/responses/ApiError\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Получение данных ресурса.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.", "x-source": "bundle", "x-not-invoked": true, "responses": {"302": {"$ref": "#/components/responses/Redirect"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "x-method-purpose": "Получение данных ресурса", "x-confidence": "bundle", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-auth-note": "Один из способов авторизации: Bearer-токен или cookie aupd_token; требование одновременно обоих способов статически не подтверждено."}}, "/passport/public/configEnv.json": {"get": {"operationId": "getPassportConfig", "tags": ["Passport"], "summary": "Прочитать публичную конфигурацию окружения Passport", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-source": "observed", "x-auto-observed": true, "responses": {"200": {"$ref": "#/components/responses/JsonOk"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "description": "Назначение: Прочитать публичную конфигурацию окружения Passport\nAuthorizations: не задано\nМетод: GET\nПуть: `/passport/public/configEnv.json`\noperationId: `getPassportConfig`\n\n**Responses:**\n\n- `200`: #/components/responses/JsonOk\n- `default`: #/components/responses/ApiError\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Получение данных ресурса.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.", "x-method-purpose": "Получение данных ресурса", "x-confidence": "observed", "x-auth-note": "Один из способов авторизации: Bearer-токен или cookie aupd_token; требование одновременно обоих способов статически не подтверждено."}}, "/passport/public/externalAgents.json": {"get": {"operationId": "getPassportExternalAgents", "tags": ["Passport"], "summary": "Прочитать публичную конфигурацию внешних агентов Passport", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-source": "observed", "x-auto-observed": true, "responses": {"200": {"$ref": "#/components/responses/JsonOk"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "description": "Назначение: Прочитать публичную конфигурацию внешних агентов Passport\nAuthorizations: не задано\nМетод: GET\nПуть: `/passport/public/externalAgents.json`\noperationId: `getPassportExternalAgents`\n\n**Responses:**\n\n- `200`: #/components/responses/JsonOk\n- `default`: #/components/responses/ApiError\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Получение данных ресурса.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.", "x-method-purpose": "Получение данных ресурса", "x-confidence": "observed", "x-auth-note": "Один из способов авторизации: Bearer-токен или cookie aupd_token; требование одновременно обоих способов статически не подтверждено."}}, "/api/avatarmanagement/v1/{personId}": {"get": {"operationId": "getPersonAvatar", "tags": ["Passport"], "summary": "Прочитать ресурс аватара человека", "parameters": [{"$ref": "#/components/parameters/PersonId"}], "x-source": "observed", "x-auto-observed": true, "responses": {"200": {"$ref": "#/components/responses/ImageOk"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "description": "Назначение: Прочитать ресурс аватара человека\nAuthorizations: aupdToken, bearerAuth\nМетод: GET\nПуть: `/api/avatarmanagement/v1/{personId}`\noperationId: `getPersonAvatar`\n\nPath-параметры:\n- `personId` (обязателен, string): Непрозрачный идентификатор человека; только заполнитель.\n\n**Responses:**\n\n- `200`: #/components/responses/ImageOk\n- `default`: #/components/responses/ApiError\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Получение данных ресурса.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.", "x-method-purpose": "Получение данных ресурса", "x-confidence": "observed", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-auth-note": "Один из способов авторизации: Bearer-токен или cookie aupd_token; требование одновременно обоих способов статически не подтверждено."}}, "/api/persondata/v1/persons": {"get": {"operationId": "listPersons", "tags": ["Passport"], "summary": "Получить доступные пользователю записи о людях", "x-source": "bundle", "responses": {"200": {"$ref": "#/components/responses/JsonOk"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "description": "Назначение: Получить доступные пользователю записи о людях\nAuthorizations: aupdToken, bearerAuth\nМетод: GET\nПуть: `/api/persondata/v1/persons`\noperationId: `listPersons`\n\n**Responses:**\n\n- `200`: #/components/responses/JsonOk\n- `default`: #/components/responses/ApiError\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Получение данных ресурса.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.", "x-method-purpose": "Получение данных ресурса", "x-confidence": "bundle", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-auth-note": "Один из способов авторизации: Bearer-токен или cookie aupd_token; требование одновременно обоих способов статически не подтверждено."}, "post": {"operationId": "createPerson", "tags": ["Passport"], "summary": "Создать запись о человеке", "description": "Добавлено только для полноты карты; при аудите в режиме только чтения запрос не отправлялся.\n\n---\n\nНазначение: Добавлено только для полноты карты; при аудите в режиме только чтения запрос не отправлялся.\nAuthorizations: aupdToken, bearerAuth\nМетод: POST\nПуть: `/api/persondata/v1/persons`\noperationId: `createPerson`\nПримечание: x-not-invoked: true (запрос намеренно не выполнялся в аудит-режиме).\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Отправка данных или выполнение операции ресурса.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.\n\nПример curl (синтетический, запрос не выполнялся):\n```bash\ncurl -X POST 'https://school.mos.ru/api/persondata/v1/persons' \\\n  -H 'Authorization: Bearer <TOKEN>' \\\n  -H 'Content-Type: application/json' \\\n  -d '{}'\n```", "requestBody": {"$ref": "#/components/requestBodies/PersonDataRequest"}, "x-source": "bundle", "x-not-invoked": true, "responses": {"201": {"$ref": "#/components/responses/MutationOk"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "x-method-purpose": "Отправка данных или выполнение операции ресурса", "x-confidence": "bundle", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-auth-note": "Один из способов авторизации: Bearer-токен или cookie aupd_token; требование одновременно обоих способов статически не подтверждено."}, "put": {"operationId": "jsputApiPersondataV1Persons", "tags": ["Passport"], "summary": "Изменение данных ресурса", "description": "Операция обнаружена статическим анализом сохранённого JavaScript-бандла. Она не вызывалась в read-only аудите; наличие строки в bundle не гарантирует доступность для текущей роли.\n\n---\n\nНазначение: Операция обнаружена статическим анализом сохранённого JavaScript-бандла. Она не вызывалась в read-only аудите; наличие строки в bundle не гарантирует доступность для текущей роли.\nAuthorizations: aupdToken, bearerAuth\nМетод: PUT\nПуть: `/api/persondata/v1/persons`\noperationId: `jsputApiPersondataV1Persons`\nПримечание: x-not-invoked: true (запрос намеренно не выполнялся в аудит-режиме).\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Изменение данных ресурса.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.\n\nПример curl (синтетический, запрос не выполнялся):\n```bash\ncurl -X PUT 'https://school.mos.ru/api/persondata/v1/persons' \\\n  -H 'Authorization: Bearer <TOKEN>' \\\n  -H 'Content-Type: application/json' \\\n  -d '{}'\n```", "x-source": "bundle", "x-source-file": "javascript/diary/mfDiaryAdditional/chunk.diaryAdditional.bedacea401f374aa677d.js", "x-source-line": 1, "x-evidence-count": 2, "x-not-invoked": true, "requestBody": {"required": false, "description": "JS указывает на тело запроса, но его ключи не были надёжно восстановлены статически. Значения синтетические; вызов в ходе аудита не выполнялся.", "x-example-synthetic": true, "x-data-sources": {"body": ["точная форма тела не восстановлена из bundle"]}, "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true, "properties": {}, "description": "Форма JSON не восстановлена статически; разрешены произвольные поля только как документационный заполнитель.", "x-field-source-note": "Источники полей указаны в x-data-sources/requestBody; неизвестные значения синтетические."}, "examples": {"synthetic": {"summary": "Синтетический пример; не отправлялся", "value": {}}}}}, "x-confidence": "bundle", "x-required-fields": []}, "responses": {"200": {"$ref": "#/components/responses/MutationOk"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "x-method-purpose": "Изменение данных ресурса", "x-confidence": "bundle", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-auth-note": "Один из способов авторизации: Bearer-токен или cookie aupd_token; требование одновременно обоих способов статически не подтверждено."}, "delete": {"operationId": "jsdeleteApiPersondataV1Persons", "tags": ["Passport"], "summary": "Удаление ресурса", "description": "Операция обнаружена статическим анализом сохранённого JavaScript-бандла. Она не вызывалась в read-only аудите; наличие строки в bundle не гарантирует доступность для текущей роли.\n\n---\n\nНазначение: Операция обнаружена статическим анализом сохранённого JavaScript-бандла. Она не вызывалась в read-only аудите; наличие строки в bundle не гарантирует доступность для текущей роли.\nAuthorizations: aupdToken, bearerAuth\nМетод: DELETE\nПуть: `/api/persondata/v1/persons`\noperationId: `jsdeleteApiPersondataV1Persons`\nПримечание: x-not-invoked: true (запрос намеренно не выполнялся в аудит-режиме).\n\n**Responses:**\n\n- `204`: #/components/responses/NoContent\n- `default`: #/components/responses/ApiError\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Удаление ресурса.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.\n\nПример curl (синтетический, запрос не выполнялся):\n```bash\ncurl -X DELETE 'https://school.mos.ru/api/persondata/v1/persons' \\\n  -H 'Authorization: Bearer <TOKEN>' \\\n  -H 'Content-Type: application/json' \\\n  -d '{}'\n```", "x-source": "bundle", "x-source-file": "javascript/diary/mfDiaryPersonal/chunk.diaryPersonal.d8a412a88a36103469d7.js", "x-source-line": 1, "x-evidence-count": 1, "x-not-invoked": true, "responses": {"204": {"$ref": "#/components/responses/NoContent"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "x-method-purpose": "Удаление ресурса", "x-confidence": "bundle", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-auth-note": "Один из способов авторизации: Bearer-токен или cookie aupd_token; требование одновременно обоих способов статически не подтверждено."}}, "/api/persondata/v1/persons/{personId}": {"get": {"operationId": "getPersonData", "tags": ["Passport"], "summary": "Прочитать запись о человеке", "parameters": [{"$ref": "#/components/parameters/PersonId"}], "x-source": "observed", "x-auto-observed": true, "responses": {"200": {"$ref": "#/components/responses/JsonOk"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "description": "Назначение: Прочитать запись о человеке\nAuthorizations: aupdToken, bearerAuth\nМетод: GET\nПуть: `/api/persondata/v1/persons/{personId}`\noperationId: `getPersonData`\n\nPath-параметры:\n- `personId` (обязателен, string): Непрозрачный идентификатор человека; только заполнитель.\n\n**Responses:**\n\n- `200`: #/components/responses/JsonOk\n- `default`: #/components/responses/ApiError\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Получение данных ресурса.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.", "x-method-purpose": "Получение данных ресурса", "x-confidence": "observed", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-auth-note": "Один из способов авторизации: Bearer-токен или cookie aupd_token; требование одновременно обоих способов статически не подтверждено."}, "post": {"operationId": "createPersonData", "tags": ["Passport"], "summary": "Создать данные о человеке", "description": "Добавлено только для полноты карты; при аудите в режиме только чтения запрос не отправлялся.\n\n---\n\nНазначение: Добавлено только для полноты карты; при аудите в режиме только чтения запрос не отправлялся.\nAuthorizations: aupdToken, bearerAuth\nМетод: POST\nПуть: `/api/persondata/v1/persons/{personId}`\noperationId: `createPersonData`\nПримечание: x-not-invoked: true (запрос намеренно не выполнялся в аудит-режиме).\n\nPath-параметры:\n- `personId` (обязателен, string): Непрозрачный идентификатор человека; только заполнитель.\n\nДокументационный комментарий (синтетический):\nназначение метода предположено по имени пути и HTTP-методу: Отправка данных или выполнение операции ресурса.\nТочные правила доступа, обязательность полей и фактическая форма ответа не подтверждены сервером. Метод добавлен по статическому анализу bundle; для POST/PUT/PATCH/DELETE запрос намеренно не выполнялся.\n\nКак отправлять: использовать указанный путь, Content-Type: application/json для JSON-тела и авторизацию из security operation/global. Значения с суффиксом -demo и пустые массивы — только заполнители.\n\nПример curl (синтетический, запрос не выполнялся):\n```bash\ncurl -X POST 'https://school.mos.ru/api/persondata/v1/persons/{personId}' \\\n  -H 'Authorization: Bearer <TOKEN>' \\\n  -H 'Content-Type: application/json' \\\n  -d '{}'\n```", "parameters": [{"$ref": "#/components/parameters/PersonId"}], "requestBody": {"$ref": "#/components/requestBodies/PersonDataRequest"}, "x-source": "bundle", "x-not-invoked": true, "responses": {"201": {"$ref": "#/components/responses/MutationOk"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "422": {"$ref": "#/components/responses/UnprocessableEntity"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/ServerError"}, "default": {"$ref": "#/components/responses/ApiError"}}, "x-method-purpose": "Отправка данных или выполнение операции ресурса", "x-confidence": "bundle", "security": [{"bearerAuth": []}, {"aupdToken": []}], "x-aut
[...]
